.Logo-defalt {
  width: 100%;
}

.H1-title {
  font-size: 3vw; 
  font-weight: bolder;
  color: #ffc800;
  text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.658);
}
.countdown{
  font-size: 2vw; 
  font-weight: bolder;
  color: #ffc800;
  text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.658);
}
.BtnPrimary {
  background: linear-gradient(to right, #d17401, #ffb700);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.3s ease;
  width: 30vw;
}

.BtnPrimary:hover {
  background: linear-gradient(to right, #FFD700, #FFA500);
}

.label-primary{
  text-align: start;
  font-weight: bolder;
  color: #ffb700;
  text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.658);
}
.input-primary{
  width: 99%;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  margin: 4px 2px;
  padding: 2px 4px;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 1000px;
  margin-bottom: -15px;

  .card {
    width: 20%;
    user-select: none;
    height: 112px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 16px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    div {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      border-radius: 10px;
      transition: 0.6s;
      background: #e7e7e7;
    }

    .back {
      font-size: 50px;
      line-height: 120px;
      cursor: pointer;
      color: #6d1124;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .front {
      transform: rotateY(180deg);
      line-height: 110px;
      text-emphasis: none;

      img {
        vertical-align: middle;
        width: 70%;
        max-width: 150px;
        max-height: 75%;
      }
    }

    &.flipped {
      transform: rotateY(180deg);
    }

    &.matched {
      transform: rotateY(180deg);

      .front {
        box-shadow: 0 0 0 2px rgba(#000, 0.05) inset;
        animation: selected 0.8s 0s ease 1;
        animation-fill-mode: both;
        opacity: 0.2;
      }
    }
  }
}

.restart-button {
  width: 12em;
  height: 3em;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  background-color: #6d1124;
  border: 0;
}

.centered {
  width: 100%;
  height: 100%;
  text-align: center;
}

@keyframes selected {
  0% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.9;
  }

  70% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.3;
  }
}


@media (max-width: 800px) {
  .H1-title {
    font-size: 7vw; /* Ajuste de tamanho para tablets */
  }

  .Logo-defalt {
    width: 60%; /* Ajuste de tamanho para tablets */
  }

  
.BtnPrimary {
  width: 80vw;
}

}